<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <h1>Comments</h1>
    <form method="POST" action="/review">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td>Rating:</td>
                <td><input type="number" name="rating"/></td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td><input type="text" name="comments"/></td>
            </tr>
            <tr>
                <td>Game's ID:</td>
                <td><input type="number" name="gid"/></td>
            </tr>

            <tr>
                <td></td>
                <td><button type="submit">Insert</button></td>
            </tr>

        </table>
    </form>


</body>
</html>