<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Comment</title>
</head>
<body>

<h1>Update Comment</h1>

<!-- Correct Thymeleaf syntax for action URL -->
<form method="POST" th:action="@{/review/{review_id}(review_id=${review_id})}">
<!-- using th:action is VERY important -->
    <table>
        <tr>
            <td>Comments:</td>
            <td><input type="text" name="comment"/></td>
        </tr>
        <tr>
            <td>Rating:</td>
            <td><input type="number" name="rating"/></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="date" name="date"/></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Update</button></td>
        </tr>
    </table>
</form>

</body>
</html>
